# Node.js
node_modules/

# Fichiers d'environnement
.env

# Fichiers de configuration
config/

# Fichiers de sauvegarde de l'éditeur
.vscode/
*.sublime-workspace

# Logs
logs
*.log

# Autres fichiers et dossiers temporaires
.DS_Store
Thumbs.db
